.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
    pointer-events: none;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-80 {
    padding-top: 80px;
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
}
.p-b-37 {
    padding-bottom: 37px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.input100 {
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 62px;
    background: 0 0;
    text-align: center;
    border-radius: 20px;
}

input {
    outline: none;
    border: none;
}

input {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}



.focus-input100 {
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    pointer-events: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
    transition: all .4s;
}

.m-b-25 {
    margin-bottom: 25px;
}

.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:15%;
}

.login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bd59d4;
    border-radius: 25px;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all .4s;
    -webkit-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
}

button {
    outline: none!important;
    border: none;
    background: 0 0;
    overflow: visible;
    touch-action: manipulation;
    text-align: center;
    cursor: default;
}

.text-center {
    text-align: center!important;
    padding-top:5%;
}

.txt2 {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    line-height: 1.4;
    color: #4b2354;
}

.help-block {
    display: block;
    color: red;
    text-align: center;
    font-size: smaller;
  }

  .form-group {
    margin-bottom: 15px;
  }

