.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
    pointer-events: none;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-t-80 {
    padding-top: 80px;
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
}
.p-b-37 {
    padding-bottom: 37px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.input100 {
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 62px;
    background: 0 0;
    text-align: center;
    border-radius: 20px;
}

input {
    outline: none;
    border: none;
}

input {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}



.focus-input100 {
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    pointer-events: none;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
    transition: all .4s;
}

.m-b-25 {
    margin-bottom: 25px;
}

.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:15%;
}

.login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #bd59d4;
    border-radius: 25px;
    font-family: SourceSansPro-SemiBold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all .4s;
    -webkit-box-shadow: 0 10px 30px 0 rgba(189,89,212,.5);
}

button {
    outline: none!important;
    border: none;
    background: 0 0;
    overflow: visible;
    touch-action: manipulation;
    text-align: center;
    cursor: default;
    margin-bottom: 5%;
}

.text-center {
    text-align: center!important;
    padding-top:5%;
}

.txt2 {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    line-height: 1.4;
    color: #4b2354;
}

.help-block {
    display: block;
    color: red;
    text-align: center;
    font-size: smaller;
  }

  .form-group {
    margin-bottom: 15px;
  }

.pstyle{
    text-align: center;
    font-family: inherit;
    margin-bottom: -9px;
    margin-top: 9px;
}



.overlay {
    color: #FFFFFF;
    background-color: inherit;
}
.bgded {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    position: relative;
    z-index: 1;
}
*, *::before, *::after {
    transition: all .3s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    color: #7F7F7F;
    background-color: #141414;
}
body, input, textarea, select {
    font-family: Verdana, Geneva, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
}
*, *::before, *::after {
    transition: all .3s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.overlay::after {
    color: inherit;
    background-color: rgba(0,0,0,.55);
}
.overlay::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
*, *::before, *::after {
    transition: all .3s ease-in-out;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.row1 {
    color: #FFFFFF;
    border-color: rgba(255,255,255,.3);
}
.row1 {
    border-bottom: 1px solid;
}

nav {
  max-width: 960px;
  margin: 0 auto;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
 
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(64, 64, 64, 3);
  font-size: 20px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


.wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}

.welcome-page-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.a1{
    text-decoration: none;
    color: #fff;
}


#live_div {
    
    position: relative;
    border-radius: 1px;
}
#canvas, #canvas_copy, #live_div {
    width: 600px;
    max-width: 600px;
    height: 600px;
    z-index: 1;
    border: 3px solid;
}


#overlay {
    opacity: 1;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    
}

#videoElement {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 1px;
    
}




.video-circle {
    border-radius: 50%;
    object-fit: cover;
    }

.content{
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:100px;
    padding:10px;
  
}
    
.container-camera{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    justify-content: space-evenly;
}

.container-camera::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left,rgba(0,168,255,0.5),rgba(185,0,255,0.5));
    pointer-events: none;
}

#div_use_webcam {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 800px;
}

#div_choose_trees{
    background: rgb(226, 180, 226);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top:100px;
    padding:10px;
}


.i_trees {
	opacity: 0.5;
	border: 3px solid white;
    border-radius: 20px;
}

.active, .i_trees:hover {
	opacity: 1;
	border: 3px solid plum;
	border-radius: 20px;
}

#canvas_copy, #canvas_tree {
	display: none;
}

.content-left{
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:100px;
    padding:10px;
  
}